<ion-header translucent>
  <ion-toolbar>
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>
    <ion-slide>
      <img src="http://lorempixel.com/400/200/food" />
      <h2>Rotiseria <b>Delicias</b></h2>
      <p>10%</p>
      <p>Descuesto en cada compra</p>
    </ion-slide>

    <ion-slide>
      <img src="http://lorempixel.com/400/200/food" />
      <h2>Rotiseria <b>Delicias</b></h2>
      <p>10%</p>
      <p>Descuesto en cada compra</p>
    </ion-slide>

    <ion-slide>
      <img src="http://lorempixel.com/400/200/food" />
      <h2>Rotiseria <b>Delicias</b></h2>
      <p>10%</p>
      <p>Descuesto en cada compra</p>
    </ion-slide>

    <ion-slide>
      <img src="http://lorempixel.com/400/200/food" />
      <h2>Rotiseria <b>Delicias</b></h2>
      <p>10%</p>
      <p>Descuesto en cada compra</p>
    </ion-slide>

    <ion-slide>
      <img src="http://lorempixel.com/400/200/food" />
      <h2>Rotiseria <b>Delicias</b></h2>
      <p>10%</p>
      <p>Descuesto en cada compra</p>
    </ion-slide>
  </ion-slides>
</ion-content>
