.bg-image {
  background: url("../../../assets/img/bg_login.PNG") no-repeat center center
    fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ion-card-title h1 {
  color: #4b64cf;
  font-size: 4em;
}
